/*color*/
$primary-yellow:#FCC822;
$primary-grey:#333333;
$secondary-grey:#828282;
$primary-white:#FFFFFF;
/*spacing*/
$spacing-1:8px;
$spacing-2:16px;
$spacing-3:24px;
$spacing-4:32px;
$spacing-5:40px;
$spacing-6:48px;
$spacing-7:56px;
$spacing-8:64px;
$spacing-md:100px;
$spacing-sm:78px;
$spacing:("1":8px,"2":16px,"3":24px,"4":32px,"5":40px,"6":48px,"7":56px,"8":64px,"md":90px,"lg":150px);

/*font-size*/
$fs-xxxl:38px;
$fs-xxl:28px;
$fs-xl:20px;
$fs-l:16px;
$fs-md:14px;
$fs-sm:10px;


