body{
    font-family: 'Roboto', sans-serif;
    font-size: $fs-md;
    font-weight:400;
    line-height:16px;
}
a{
    text-decoration: none;
}
.hero{
    height: 100vh;
    .container
    {
    height:100vh ;
    background-image: url("https://i.ibb.co/4MhZChL/Group-118.png");
    background-repeat: no-repeat;
    background-position: top 120px right 30px;
    background-size: 404px 408px;
    }
    &__content{
        width:290px;
        position:absolute;
        top:50%;
        transform: translateY(-50%);    
        &--text{
            padding:6px 0 6px 10px;
            border-left:1px solid $primary-grey;
        }
        &--more-btn{
            position: relative;
            &::before{
            content:'';
            position:absolute;
            top:4px;
            left:-16px;
            border:6px solid $primary-yellow;
            width:0;
            height:0;
            border-bottom: 6px solid transparent;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
           }
        }
    }
}