%btn{
    font-family: 'Poppins', sans-serif;
    font-size: $fs-md;
    font-weight: 500;
    position: relative;
    z-index: 1;
    display: inline-block;
    // box-shadow: 0px 10px 22px -6px $primary-yellow;
}
.btn-primary{
    @extend %btn;
    color:$primary-yellow;
    border:1px solid $primary-yellow;
    padding:6px 20px;
}
.btn-secondary{
    @extend %btn;
    color:$primary-white;
    background-color: $primary-yellow;
    padding:8px 16px;


}

.btn-secondary:hover{
    box-shadow: 0px 10px 22px -6px $primary-yellow;
}